body {
  background-color: #f6f6f6;
}
.logo {
  background: #5d5fef;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.active {
  color: #5d5fef;
}
.show-btn {
  background-color: #5d5fef;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}
.show-btn:hover {
  background: transparent;
  border: 2px solid #5d5fef;
  color: black;
  font-weight: bold;
}
.trend-btn {
  background: transparent;
  color: #5d5fef;
  border: 1px solid #5d5fef;
  border-radius: 5px;
  padding: 0.5rem;
}
